<!DOCTYPE html>
<html data-bs-theme="light" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Log in - Brand</title>
    <link rel="stylesheet" href="static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800&amp;display=swap">
    <link rel="stylesheet" href="static/css/Bootstrap-Calendar.css">
    <link rel="stylesheet" href="static/css/Navbar-Right-Links-Dark-icons.css">
</head>

<body>
    <section class="py-5">
        <nav class="navbar navbar-expand-md bg-dark py-3" data-bs-theme="dark" style="margin-left: -1px;padding-top: 0px;margin-top: -49px;padding-left: 0px;">
            <div class="container"><a class="navbar-brand d-flex align-items-center" href="#"><span class="bs-icon-sm bs-icon-rounded d-flex justify-content-center align-items-center me-2 bs-icon" style="margin-bottom: 0px;margin-left: 0px;padding-left: 0px;"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24" fill="none" style="padding-top: 0px;margin-top: 0px;margin-bottom: 0px;padding-left: 0px;padding-right: 0px;font-size: 38px;">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M3 6C3 4.89543 3.89543 4 5 4H19C20.1046 4 21 4.89543 21 6V14C21 15.1046 20.1046 16 19 16H5C3.89543 16 3 15.1046 3 14V6ZM5 6H19V14H5V6Z" fill="currentColor"></path>
                            <path d="M2 18C1.44772 18 1 18.4477 1 19C1 19.5523 1.44772 20 2 20H22C22.5523 20 23 19.5523 23 19C23 18.4477 22.5523 18 22 18H2Z" fill="currentColor"></path>
                        </svg></span><span class="text-capitalize fs-5 fw-bold">Magazin Componente IT</span></a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-5"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navcol-5" style="margin-right: -126px;padding-left: 0px;margin-left: -5px;">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item"></li>
                        <li class="nav-item"></li>
                        <li class="nav-item"></li>
                    </ul><a class="nav-link active fw-light" href="login" style="margin-left: 15px;">Login</a><a class="active fw-light" href="sign-up" style="margin-left: 15px;">Cont nou</a>
                </div>
            </div>
        </nav>
        <div class="container py-5">
            <div class="row mb-4 mb-lg-5">
                <div class="col-md-8 col-xl-6 text-center mx-auto">
                    <p class="fw-bold text-success mb-2">Login</p>
                    <h2 class="fw-bold">Bun venit</h2>
                </div>
            </div>
            <div class="row d-flex justify-content-center">
                <div class="col-md-6 col-xl-4">
                    <div class="card">
                        <div class="card-body text-center d-flex flex-column align-items-center">
                            <div class="bs-icon-xl bs-icon-circle bs-icon-primary shadow bs-icon my-4"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-person">
                                    <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6m2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0m4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4m-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664z"></path>
                                </svg></div>
                            <form method="POST">
                                <div class="mb-3"><input class="form-control" type="email" name="email" id="email" placeholder="Email"></div>
                                <div class="mb-3"><input class="form-control" type="password" id="password" name="password" placeholder="Parola"></div>
                                <div class="mb-3"><button class="btn btn-primary shadow d-block w-100" type="submit">Log in</button></div>
                            </form>
                            {% with messages = get_flashed_messages(with_categories=true) %}
                            {% if messages %}
                            <div class="alert alert-danger" role="alert">
                                {% for category, message in messages %}
                                <strong>Eroare: </strong>
                                <li class="{{ category }}">{{ message }}</li>
                              {% endfor %}
                            </div>
                            {% endif %}
                          {% endwith %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer class="bg-dark"></footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="static/js/bold-and-dark.js"></script>
</body>

</html>