{% extends "base.html" %} {% block title %}Vanzare produse{% endblock %} {% block content%}

  <div id="video-container">
    <div class="video-overlay"></div>
    <div class="video-content">
        <div class="inner">
       
          <h3 style="color:white" align="center">Vanzare produs:</h3>
  
          <div class="form-group">
            <label for="cod"></label>
            <form method="POST">
            <input
              type="number"
              class="form-control"
              id="cod2"
              name="cod2"
              placeholder="Introduceti codul produsului"
            />
          </div>
          <div class="form-group">
            <label for="stoc"></label>
            <input
              type="number"
              class="form-control"
              id="stoc1"
              name="stoc1"
              placeholder="Introduceti stocul vandut"
            />
          </div>
          <br />
          <button type="submit" class="btn btn-primary">Salvare</button>
        </form>
               
        </div>
    </div>
    <video autoplay loop muted>
   <source src={{ url_for('static', filename="highway-loop.mp4") }} type="video/mp4">
    </video>
</div>
  
  {% endblock %}